.home-wide-display {
    height: 92vh;
    background-image: url("assets/img/background_home.png");
}

.home-wide-display h1 {
    font-size: calc(50px + 3vw);
}

.home-wide-display h3 {
    font-size: calc(24px + 1vw);
}

.club-tile {
    width: 200px;
    background-color: #eae6ff;
}

.club-tile:hover {
    background-color: #d2beff;
}

.tile {
    border-radius: 14px;
    filter: drop-shadow(2px 2px 3px #a7a7a7);
}

.calendar-icon {
    height: 24px;
}